html {
    /* background-color: #111; */
}

body {
    font-family: "Poppins", sans-serif;
    /* font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, */
    /* Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", */
    /* "Segoe UI Symbol"; */
    max-height: 430px;
    overflow-y: scroll;
}

.control {
    display: flex;
    align-items: center;
    padding-bottom: 2px;
}

img {
    height: 23px;
    width: 23px;
    margin: 7.8px 11px;
}

input {
    display: flex;
    font-size: 19px;
    background-color: transparent;
    border: none;
    margin-top: 3px;
    outline: none;
    color: #eeeeee;
    width: 610px;
    font-family: "Poppins", sans-serif !important;
}

input::placeholder {
    color: #eeeeee83;
}

.res {
    padding: 0px 15px;
    margin-top: 20px;
    color: white;
}

.definition h1 {
    font-weight: 600;
    margin: 0;
    font-size: 22px;
}

.definition h2 {
    font-size: 15px;
    margin: 0;
}

.definition span {
    color: #d4d4d4;
    font-size: 15px;
}

#divider {
    width: 96% !important;
    background-color: rgb(90, 90, 90);
    height: 1px;
    border: none;
    /* display: flex; */
    /* margin: auto; */
}

.synonyms {
    margin-top: 10px;
    display: grid;
    width: 400px;
    display: flex;
    flex-flow: wrap;
    align-content: space-between;
    justify-content: start;
    column-gap: -4px;
    row-gap: 6px;
}

.synonyms .syn {
    padding: 2px 10px;
    border: 1px solid rgb(90, 90, 90);
    border-radius: 1000px;
    width: fit-content;
    font-size: 13px;
    margin-right: 5px;
    /* transition: 0.15s; */
    cursor: pointer;
}

.syn:hover {
    /* transition: 0.15s; */
    background-color: rgba(90, 90, 90, 0.373);
}
